venv/
workflows/*.txt
workflows/*.gz
workflows/*.html
workflows/*.zip
workflows/*.fa
workflows/*.log
workflows/*.bam
workflows/*.vcf
workflows/*.bai
workflows/*.tab
workflows/*.csv
workflows/*.gfa
workflows/*.bed
workflows/*.gff
workflows/*.faa
workflows/*.tsv
workflows/roary*
workflows/snippy*
workflows/core.*
data/
state.json
workflows/MRSA094/
workflows/prokka/
*~
.vscode
__pycache__
build
