
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MRSA Sequences</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Graphing library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <style>
      
#pan SVG {
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

H1 {
  text-align: center;
}

.nullarbor-section {
  border-top: 0.66ex dotted DarkGray;
  margin-top: 4ex;
  width: auto;
}

A.jump-home {
  font-size: smaller;
}

TT {
  font-size: smaller;
}

/*
TD:first-child {
  font-family: monospace;
  font-size: smaller;
}
*/

TABLE {
/*  font-size: smaller; */
/*   width: auto; */
}

A.file-download {
  font-family: monospace;
  padding-left: 1ex;
//  background: lightgray;
//  border: 1pt dotted gray;
}

UL.pagination {
  font-size: smaller;
}

TH {
  background: LightGrey;
  color: Black;
}

TH, TD {
  text-align: center;
}

/* for vertical TH elements */
DIV.vertical {
  white-space: nowrap;
  /* try different ways to make it vertical */
  -webkit-writing-mode: vertical-rl; 
  -ms-writing-mode: tb-rl; 
  writing-mode: vertical-rl; 
  filter: flipv fliph; 
  /* make it centered */
  margin-left: auto;
  margin-right: auto;
}

.binomial {
  text-align: left;
  font-family: serif;
  font-style: italic;
}

.traffic-light {
  font-size: larger;
  font-weight: bold;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.dunno {
  color: orange;
}

.dunno:hover {
  cursor: help;
}

.allele {
  font-style: italic;
}

.missing {
  color: red;
  font-weight: bold;
}

.novel {
  color: orange;
}

.known {
  
}

SPAN.legend {
  font-size: larger;
  border: 1px dotted black;
  padding: 1ex;
}

SPAN.legend-item {
  padding-left: 3ex;
}
    </style>
  </head>
  <body>

<!--
<nav class='navbar navbar-inverse navbar-static-top'>
  <div class='container'>
    <p class='navbar-brand'>
Nullarbor
    </p>
    <p class='navbar-text navbar-right'>Torsten Seemann</p>
  </div>
</nav>
-->

<div class='container-fluid'>
<h1>MRSA Sequences</h1>
<div class='container-fluid nullarbor-section' id='jobinfo'>
  <a name='jobinfo'></a>
  <h2> {% include "menu.html" %} Report summary <a href='#'
                                                   class='jump-home'>&#x25B2;</a> </h2>
  <table id='jobinfo' class='table table-bordered table-condensed'>
    <thead>
      <tr>
        <th>Isolates</th>
        <th>Author</th>
        <th>Date</th>
        <th>Host</th>
        <th>Folder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23
        <td><tt>tseemann</tt>
        <td>Mon Sep 10 17:33:05 2018
        <td><tt>526080-s598783.unimelb.edu.au</tt>
        <td><tt>/home/tseemann/git/snippy/Tuna_Scrape/nullarbor</tt>
    </tbody>
    <caption>
      <span class='file-download-bar'>Download: <a href='jobinfo.csv'
                                                                  class='file-download'>&#11015;jobinfo.csv</a></span>
    </caption>
  </table>
</div>

<div class='container-fluid nullarbor-section' id='seqdata'>
  <a name='seqdata'></a>
  <h2>{% include "menu.html" %}
    Sequence data <a href='#' class='jump-home'>&#x25B2;</a> </h2>

  <SPAN CLASS='legend'>
    <B>Legend:</B>
    <SPAN CLASS='legend-item'>
      <span class='traffic-light pass' title='&ge;50x'>&#10004;</span> &ge;50x
    </SPAN>
    <SPAN CLASS='legend-item'>
      <span class='traffic-light dunno' title='&ge;25x'>?</span>
      &ge;25x
    </SPAN>
    <SPAN CLASS='legend-item'>
      <span class='traffic-light fail' title='&lt;25x'>&#10008;</span> &lt;25x
    </SPAN>
  </SPAN>

  <table id='seqdata' class='display compact table-sortable'>
    <thead>
      <tr>
        <th>Isolate</th>
        <th>Reads</th>
        <th>Yield</th>
        <th>GeeCee</th>
        <th>MinLen</th>
        <th>AvgLen</th>
        <th>MaxLen</th>
        <th>ModeLen</th>
        <th>Phred</th>
        <th>AvgQual</th>
        <th>Depth</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CFSAN000952</td>
        <td>1900502</td>
        <td>286975802</td>
        <td>52.9</td>
        <td>151</td>
        <td>151</td>
        <td>151</td>
        <td>151</td>
        <td>33</td>
        <td>28.2</td>
        <td>58</td>
        <td><span class='traffic-light pass'>&#10004;</span></td>
      </tr>
    </tbody>
    <caption>
      <span class='file-download-bar'>Download:  <a href='seqdata.csv' class='file-download'>&#11015;seqdata.csv</a></span>
    </caption>
  </table>
</div>

<div class='container-fluid nullarbor-section' id='identification'>
  <a name='identification'></a>
  <h2>{% include "menu.html" %}
    Species identification <a href='#' class='jump-home'>&#x25B2;</a> </h2>
  <SPAN CLASS='legend'>
    <B>Legend:</B>
    <SPAN CLASS='legend-item'><span class='traffic-light pass' title='&ge;80%'>&#10004;</span> &ge;80%</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light dunno' title='&ge;65%'>?</span> &ge;65%</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light fail' title='&lt;65%'>&#10008;</span> &lt;65%</SPAN>
  </SPAN>

  <table id='identification' class='display compact table-sortable'>
    <thead>
      <tr>
        <th>Isolate</th>
        <th>#1 Match</th>
        <th>%</th>
        <th>#2 Match</th>
        <th>%</th>
        <th>#3 Match</th>
        <th>%</th>
        <th>#4 Match</th>
        <th>%</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody>
      {% for sample_id,it in kraken %}
      <tr>
        <td>{{ sample_id }}</td>
        <td><SPAN STYLE='color: black; font-weight: bold;'><span class='binomial'>{{ it[0][2] }}</span></SPAN></td>
        <td><SPAN STYLE='color: black; font-weight: bold;'>{{ it[0][0] }}</SPAN></td>
        <td><SPAN STYLE='color: gray;'><span class='binomial'>{{ it[1][2] }}</span></SPAN></td>
        <td><SPAN STYLE='color: gray;'>{{ it[1][0] }}</SPAN></td>
        <td><SPAN STYLE='color: lightgray;'><span class='binomial'>{{ it[2][2] }}</span></SPAN></td>
        <td><SPAN STYLE='color: lightgray;'>{{ it[2][0] }}</SPAN></td>
        <td><SPAN STYLE='color: lightgray;'><span class='binomial'>{{ it[3][2] }}</span></SPAN></td>
        <td><SPAN STYLE='color: lightgray;'>{{ it[3][0] }}</SPAN></td>
        <td>
          {% if it[0][0] >= 80  %}
          <span class='traffic-light pass'>&#10004;</span>
          {% elif it[0][0] >= 65 %}
          <span class='traffic-light dunno'>?</span>
          {% else %}
          <span class='traffic-light fail'>&#10008;</span>
          {% endif %}
        </td>
        
      </tr>
      {% endfor %}
    </tbody><caption><span class='file-download-bar'>Download:  <a href='identification.csv' class='file-download'>&#11015;identification.csv</a></span>
    </caption>
  </table>
</div>

<div class='container-fluid nullarbor-section' id='mlst'>
  <a name='mlst'></a>
  <h2>{% include "menu.html" %}
    MLST <a href='#' class='jump-home'>&#x25B2;</a> </h2>
  <table id='mlst' class='display compact table-sortable'>
    <thead>
      <tr>
        <th>Isolate</th>
        <th>Scheme</th>
        <th>Sequence<BR>Type</th>
        <th>Allele</th>
        <th>Allele</th>
        <th>Allele</th>
        <th>Allele</th>
        <th>Allele</th>
        <th>Allele</th>
        <th>Allele</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody>
      {% for sample_id, it in mlst %}
      <tr>
        <td>{{ sample_id }}</td>
        {% for item in it %}
        <td>{{ item }}</td>
        {% endfor %}
        <td><span class='traffic-light pass'>&#10004;</span></td>
      </tr>
      {% endfor %}
    </tbody><caption><span class='file-download-bar'>Download:  <a href='mlst.csv' class='file-download'>&#11015;mlst.csv</a></span>
    </caption>
  </table>
</div>

<div class='container-fluid nullarbor-section' id='resistome'>
  <a name='resistome'></a>
  <h2>{% include "menu.html" %}
    Resistome <a href='#' class='jump-home'>&#x25B2;</a> </h2>
  <SPAN CLASS='legend'>
    <B>Legend:</B>
    <SPAN CLASS='legend-item'><span class='traffic-light pass' title='&ge;95% coverage'>&#10004;</span> &ge;95% coverage</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light dunno' title='&lt;95% coverage'>?</span> &lt;95% coverage</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light fail' title='absent'>&#10008;</span> absent</SPAN>
  </SPAN>

  <table id='resistome' class='display compact table-sortable'>
    <thead>
      <tr>
        <th>Isolate</th>
        <th>Found</th>
      </tr>
    </thead>
    <tbody>
      {% for sample_id, it in resistome %}
      <tr>
        <td>{{ sample_id }}</td>
        <td>{{ it|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <caption>
      <span class='file-download-bar'>Download:  <a href='resistome.csv' class='file-download'>&#11015;resistome.csv</a></span>
    </caption>
  </table>
</div>

<div class='container-fluid nullarbor-section' id='virulome'>
  <a name='virulome'></a>
  <h2>
    {% include "menu.html" %}
    Virulome <a href='#' class='jump-home'>&#x25B2;</a>
  </h2>
  <SPAN CLASS='legend'>
    <B>Legend:</B>
    <SPAN CLASS='legend-item'><span class='traffic-light pass' title='&ge;95% coverage'>&#10004;</span> &ge;95% coverage</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light dunno' title='&lt;95% coverage'>?</span> &lt;95% coverage</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light fail' title='. absent'>&#10008;</span> . absent</SPAN>
  </SPAN>

  <table id='virulome' class='display compact table-sortable'>
    <thead>
      <tr>
        <th>Isolate</th>
        <th>Found</th>
      </tr>
    </thead>
    <tbody>
      {% for sample_id, it in virulome %}
      <tr>
        <td>{{ sample_id }}</td>
        <td>{{ it|length }}</td>
      </tr>
      {% endfor %}
    </tbody><caption><span class='file-download-bar'>Download:  <a href='virulome.csv' class='file-download'>&#11015;virulome.csv</a></span>
    </caption>
  </table>
</div>

<div class='container-fluid nullarbor-section' id='assembly'>
  <a name='assembly'></a>
  <h2>{% include "menu.html" %}
    Assembly and annotation <a href='#' class='jump-home'>&#x25B2;</a> </h2>
  <SPAN CLASS='legend'>
    <B>Legend:</B>
    <SPAN CLASS='legend-item'><span class='traffic-light pass' title='Typical'>&#10004;</span> Typical</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light dunno' title='&mu;<SUB>Contigs</SUB>=57 &and; &mu;<SUB>bp</SUB>=4753003'>?</span> &mu;<SUB>Contigs</SUB>=57 &and; &mu;<SUB>bp</SUB>=4753003</SPAN>
    <SPAN CLASS='legend-item'><span class='traffic-light fail' title='Contigs &gt; 1.5&mu; &or; bp &plusmn; 0.2&mu;'>&#10008;</span> Contigs &gt; 1.5&mu; &or; bp &plusmn; 0.2&mu;</SPAN>

  </SPAN>
  <table id='assembly' class='display compact table-sortable'>
    <thead>
      <tr>
        <th>Isolate</th>
        <th>Contigs</th>
        <th>bp</th>
        <th>ok</th>
        <th>Ns</th>
        <th>gaps</th>
        <th>min</th>
        <th>avg</th>
        <th>max</th>
        <th>N50</th>
        <th>CDS</th>
        <th>rRNA</th>
        <th>tRNA</th>
        <th>tmRNA</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody>
      {% for sample_id, it in prokka %}
      <tr>
        <td>{{ sample_id }}</td>
        <td>{{ it.contigs }}</td>
        <td>{{ it.bases }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ it.CDS }}</td>
        <td>{{ it.rRNA }}</td>
        <td>{{ it.tRNA }}</td>
        <td>{{ it.tmRNA }}</td>
        <td><span class='traffic-light pass'>&#10004;</span></td>
      </tr>
      {% endfor %}
    </tbody><caption><span class='file-download-bar'>Download:  <a href='assembly.csv' class='file-download'>&#11015;assembly.csv</a></span>
    </caption>
  </table>
</div>

<!-- <div class='container-fluid nullarbor-section' id='reference'> -->
<!--   <a name='reference'></a> -->
<!--   <h2>{% include "menu.html" %} -->
<!--     Reference genome <a href='#' class='jump-home'>&#x25B2;</a> </h2> -->
<!--   <table id='reference' class='display compact table-sortable'> -->
<!--     <thead> -->
<!--       <tr> -->
<!--         <th>Sequence -->
<!--         <th>Length -->
<!--         <th>Description -->
<!--     </thead> -->
<!--     <tbody> -->
<!--       <tr> -->
<!--         <td>CP006053 -->
<!--         <td>4730612 -->
<!--         <td>CP006053 Salmonella enterica subsp. enterica serovar Bareilly str. CFSAN000189, complete genome. -->
<!--           <tr> -->
<!--             <td>CP006054 -->
<!--             <td>78193 -->
<!--             <td>CP006054 Salmonella enterica subsp. enterica serovar Bareilly str. CFSAN000189 plasmid unnamed, complete sequence. -->
<!--               <tr> -->
<!--                 <td>TOTAL -->
<!--                 <td>4808805 -->
<!--                 <td>Total reference size in bp -->
<!--     </tbody><caption><span class='file-download-bar'>Download:  <a href='reference.csv' class='file-download'>&#11015;reference.csv</a></span> -->
<!--     </caption> -->
<!--   </table> -->
<!-- </div> -->

<div class='container-fluid nullarbor-section' id='core'>
<a name='core'></a>
<h2>{% include "menu.html" %}
Core genome <a href='#' class='jump-home'>&#x25B2;</a> </h2>
<SPAN CLASS='legend'>
<B>Legend:</B>
<SPAN CLASS='legend-item'><span class='traffic-light pass' title='&ge;90% used'>&#10004;</span> &ge;90% used</SPAN>
<SPAN CLASS='legend-item'><span class='traffic-light dunno' title='&ge;70% used'>?</span> &ge;70% used</SPAN>
<SPAN CLASS='legend-item'><span class='traffic-light fail' title='&lt;70% used'>&#10008;</span> &lt;70% used</SPAN>

</SPAN>
<table id='core' class='display compact table-sortable'>
<thead>
<tr>
<th>Isolate</th>
<th>LENGTH</th>
<th>ALIGNED</th>
<th>UNALIGNED</th>
<th>VARIANT</th>
<th>HET</th>
<th>MASKED</th>
<th>LOWCOV</th>
<th>%Used</th>
<th>Quality</th>
  </tr>
</thead>
<tbody>
  {% for it in core %}
  <tr>
    {% for item in it %}
    <td> {{ item }} </td>
    {% endfor %}
    {% if it[8] >= 90 %}
      <td><span class='traffic-light pass'>&#10004;</span></td>
    {% elif it[8] >= 70 %}
      <td><span class='traffic-light dunno'>?</span></td>
    {% else %}
      <td><span class='traffic-light fail'>&#10008;</span></td>
    {% endif %}
</tr>
  {% endfor %}
</tbody><caption><span class='file-download-bar'>Download:  <a href='core.csv' class='file-download'>&#11015;core.csv</a></span>
</caption>
</table>
</div>

<div class='container-fluid nullarbor-section' id='phylotree'>
<a name='phylotree'></a>
<h2>{% include "menu.html" %}
Core SNP Phylogeny <a href='#' class='jump-home'>&#x25B2;</a> </h2>
<div style="text-align: center;">23 taxa, 138 SNPs</div>
<div id="phylocanvas" style="width: 100%; height: 322pt;">
<script type="application/javascript" src="https://cdn.rawgit.com/phylocanvas/phylocanvas-quickstart/v2.8.1/phylocanvas-quickstart.js"></script>
<script type="application/javascript">
var tree = Phylocanvas.createTree('phylocanvas', {
  showInternalNodeLabels: true,
  alignLabels: true,
  lineWidth: 2,
  scalebar: { active: true, position: { bottom: 10, centre: 10 } },
});  
tree.internalLabelStyle.colour = 'green';
tree.on('error', function (event) { throw event.error; });
tree.on('loaded', function () { console.log('loaded phylocanvas'); });
tree.on('beforeFirstDraw', function () {
});
tree.load('{{ iqtree }}');
tree.setTreeType('rectangular');
tree.draw();
</script>
</div>
<span class='file-download-bar'>Download:  <a href='core.newick' class='file-download'>&#11015;core.newick</a></span>
</div>

<div class='container-fluid nullarbor-section' id='snpdist'>
<a name='snpdist'></a>
<h2>{% include "menu.html" %}
Pairwise core SNP distances <a href='#' class='jump-home'>&#x25B2;</a> </h2>

<div id='snpdist-histogram'>
</div>
<script>

var data = [ { 
  type: 'histogram',
  x: {{ snp_hist.nums }}, 
  autobinx: false,
  xbins: { start: {{ snp_hist.start }}, end: {{ snp_hist.end }}, size: 100 },
} ];
var layout = {
  title: 'Pairwise core SNP distance histogram',
  xaxis: { title: 'SNP distance' },
  yaxis: { title: 'Frequency' },
};
Plotly.newPlot('snpdist-histogram', data, layout);
</script>
<table id='snpdist' class='display compact table-sortable'>
<thead>
<tr>
  {% for it in snp_dists.header %}
  <th><div class='vertical'>{{ it }}</div></th>
  {% endfor %}
</tr>
</thead>
<tbody>
  {% for its in snp_dists.body %}
  <tr>
    {% for item in its %}
    <td>{{ item }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody><caption><span class='file-download-bar'>Download:  <a href='snpdist.csv' class='file-download'>&#11015;snpdist.csv</a></span>
</caption>
</table>
</div>

<div class='container-fluid nullarbor-section' id='pan'>
<a name='pan'></a>
<h2>{% include "menu.html" %}
Pan genome <a href='#' class='jump-home'>&#x25B2;</a> </h2>
<p class='container-fluid'>
{{ roary_svg }}
</p>
<table id='pan' class='table table-bordered table-condensed'>
  <thead>
    <tr>
      <th>Ortholog class</th>
      <th>Definition</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for it in roary_stats %}
    <tr>
      <td>{{ it[0] }}</td>
      <td>{{ it[1] }}</td>
      <td>{{ it[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <caption><span class='file-download-bar'>Download:  <a href='pan.csv' class='file-download'>&#11015;pan.csv</a></span>
  </caption>
</table>

<p class='container-fluid'>

</p>
</div>

<div class='container-fluid nullarbor-section' id='about'>
  <a name='about'></a>
  <h2>{% include "menu.html" %}
    About <a href='#' class='jump-home'>&#x25B2;</a> </h2>

  <ul class='list-unstyled'>
    <li>Metagenomics workflow for <a href="https://github.com/bio-ontology-research-group/mrsa-sequences">MRSA Sequences</a></li>
    <li>Based on <a href="https://github.com/tseemann/nullarbor">Github</a>.</li>
    <li>Please report bugs at
    the <a href="https://github.com/bio-ontology-research-group/mrsa-sequences">MRSA Sequences</a>.</li>
  </ul>
</div>
</div>
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Datatables (to sort tables) -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <!-- Graphing library --> 
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    
    <script>
    $(document).ready( function () {
      $('table.table-sortable').DataTable( {
        lengthMenu: [[10, 25, 100, -1], [10, 25, 100, "All"]],
        //scrollY: '50vh',
        scrollCollapse: true,
        paging: false,
        //scrollX: true,
        //order: [[ -1, "desc" ]],
      } );
    } );
    
//    $('#go-plain').on('click', function () {
//      $(this).button('XXX');
//      $('table.table-sortable').DataTable().destroy(false);
//    } );
    </script>
        
  </body>
</html>
